{%- assign month = site.data.years[include.year][include.month] -%}
<section class="month-detail">
    <div class="month-title-block">
        <h2 class="year-title">{{ include.year | remove: "y"}}</h2> 
        <h2 class="month-title">{{ page.title }}</h2>
    </div>
    <ol>{% assign date = 1 %}
        {% for phase in site.data.phases %}
            {% assign index = forloop.index0 %}
            {% assign phase-data = month.Phases | where: 'Phase', index | first %}
            {% unless phase-data %}
                {% assign next-index = index | plus: 1 %}
                {% assign next-phase = month.Phases | where: 'Phase', next-index | first %}
                {% if next-index == 4 or next-phase %}
                {% assign phase-data = month.Phases | where: 'Phase', -1 | first %}
                {% endif %}
            {% endunless %}
            <li class="phase phase-{{forloop.index0}} day-count-{{ phase-data.Days | default: 0 }}">
                <div class="phase-title-block">
                    <img alt="{{ phase }}" src="{{ "assets/images/phase" | append: forloop.index0 | relative_url }}"/>
                    <p class="gregorian-date">{{ phase-data.FirstDay | date_to_long_string: 'ordinal' }}</p>
                </div>
                {% include phase.html phase=phase id=index phase-data=phase-data date=date month=include.month %}
            </li>
            {% assign date = date + phase.days %}
        {% endfor %}
    </ol>
</section>

            
