body{
    color: #6a6661;
    text-align: center;
}

h1{
  border:aliceblue dotted 10px;
}

ol {
    list-style: none;
}

.wrapper{
  width: 98%;
  margin: auto;
}

.decade-links, .year-links{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

}

.year-links li, .decade-links>li{
  flex: 1 1 20%;
}

.year-links {
  margin: 4px 0%
}

@media (min-width: 500px) and (max-width: 999px){
  .year-links li, .decade-links>li{
    flex: 1 1 10%;
  }
}

@media (min-width: 1000px){
  .year-links li, .decade-links>li{
    flex: 1 1 5%;
  }
  .year-links {
    margin: 8px .6%
  }
  .year-links li{
    flex: none;
  }
}

.calendar, .decade-links, .year-links, .month ol {
  padding-left: 0px;
}

.decade-links a:hover, .year-links a:hover{
  text-decoration: underline;
}

.active{
  color: silver;
}

.month,.month ol{
    display: flex;
    justify-content: space-evenly;
}

.month {
    border-bottom: silver dotted 1px;
    background-color: #d9d9d9;
}

.month:nth-child(odd){
    background-color: #f9f4e7;
}

.phase{
    display: flex;
}

.phase h3, .month h2 {
  font-size: small;
}

a, a:active, a:hover {
  text-decoration: none; 
  color: #454748;
}

/* Tooltip / Dropdown */
.detail-wrapper{
  position: relative;
}

.date-details {
  display:none;
  position: absolute;
  background-color: white;
  border: silver solid;
  padding: 10px;
  text-align: left;
  z-index: 100;
}

.date-details dt { 
  text-decoration: underline;
}

.date-details dd {
  margin:0px;
}
.date-details dt:after{
  content: "\003A";
}

div.day:hover .date-details{
    display: block;   
}

div.day:hover h3{
  text-decoration: underline;  
}

.month:first-of-type .phase h2{
  -epub-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  white-space: nowrap;
  margin-left: 2px;
  color: silver;
}

@media (max-width: 999px){
/* portrait orientation */

    .calendar > :first-child {
      border-right: double 2px;
    }
    
    .month, .month ol, .phase {
      flex-direction: column;
    }

    .month{
      justify-content: flex-start;
    }
    .month:not(:first-child){
      flex: 1;
    }
    .phase{
      height: 230px;
      border-bottom: silver 1px dotted;
    }
    .month:first-of-type .phase h2{
      margin: 15px 0 0 15px;
    }
    .month:first-of-type > h2{
      margin: auto 5px;
    }

    .phase:first-child {
      border-top: double 2px;
    }

    .phase h3{
      margin: 6px;
    }

    .calendar{
      display: flex;
    }

    .month:last-child .date-details {
      right: 0px;
    }
}

@media (min-width: 1000px){
  .wrapper{
    width: 90%;
  }

  .calendar > :first-child {
    border-bottom: double 2px;
  }

  .phase:first-child {
      border-left: double 2px;
  }

  .month:first-of-type .phase {
      justify-content: left;
      text-align: left;
      padding: 10px 0px;
  }

  .month ol{
    width: 90%;
  }

  .month > h2 {
    width: 50px; 
    align-self: center;
  }
  
  .day {
    width: 12%; 
  }
 
  .phase{
    justify-content: left;
    flex: 1 1 0px;
    border-left: silver 1px dotted;
  }

  .phase--1{
    justify-content: right;
  }

  .phase:last-child .day:nth-last-child(-n+3) .date-details {
    right: 0px;
  }

}