body{
    color: #6a6661;
    text-align: center;
}
h1{border:aliceblue dotted 10px;}
ol {
    list-style: none;
}

.decade-links, .year-links{
  justify-content: space-between;
  flex-flow: wrap;

}
.decade-links>li{
  flex: 1 1 5%;
}

.calendar, .decade-links, .year-links {
  width: 90%;
  margin: auto;
  padding-left: 0px;
}

.decade-links a:hover, .year-links a:hover{
  text-decoration: underline;
}

.active{
  color: silver;
}


.calendar > :first-child {
    border-bottom: double 2px;
}

.phase:first-child {
    border-left: double 2px;
}


.month:first-of-type .phase {
    justify-content: left;
    text-align: left;
    padding: 10px 0px;
}
.month:first-of-type .phase h2{
      -epub-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      white-space: nowrap;
      margin-left: 2px;
      color: silver;
}


.month,.month ol, .year-links, .decade-links {
    display: flex;
    justify-content: space-evenly;
}
.month {
    border-bottom: silver dotted 1px;
    background-color: #d9d9d9;
}
.month:nth-child(odd){
    background-color: #f9f4e7;
}
.month > h2 {width: 3%; align-self: center;}
.month ol {width: 90%;padding-left: 0px;}
.phase{
    display: flex;
    justify-content: left;
    flex: 1 1 0px;
    border-left: silver 1px dotted;
}

.phase h3, .month h2 {font-size: small;}
.phase--1{
    justify-content: right;
}
.day {width: 12%; position: relative;}

a, a:active, a:hover {text-decoration: none; color: #454748; }



.date-details {
  display:none;
  position: absolute;
  background-color: white;
  border: silver solid;
  padding: 10px;
  top: 40px;
  text-align: left;
  z-index: 100;
}

.date-details dt { 
  text-decoration: underline;

}

.date-details dd {
  margin:0px;

}
.date-details dt:after{

  content: "\003A";
}

div.day:hover .date-details{
    display: block;
    
}
div.day:hover h3{
  text-decoration: underline;  
}