body{
    color: #6a6661;
    text-align: center;
}
h1{border:aliceblue dotted 10px;}
ol {
    list-style: none;
}

.wrapper{
  width: 90%;
  margin: auto;
}

.decade-links, .year-links{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

}
.year-links li, .decade-links>li{
  flex: 1 1 20%;
}
.year-links {
  margin: 4px 0%
}
@media (min-width: 500px) and (max-width: 999px){
  .year-links li, .decade-links>li{
    flex: 1 1 10%;
  }

}

@media (min-width: 1000px){
  .year-links li, .decade-links>li{
    flex: 1 1 5%;
  }
  .year-links {
    margin: 8px .6%
  }
  .year-links li{
    flex: none;
  }


}

.calendar, .decade-links, .year-links {
  padding-left: 0px;
}

.decade-links a:hover, .year-links a:hover{
  text-decoration: underline;
}



.active{
  color: silver;
}


.calendar > :first-child {
    border-bottom: double 2px;
}

.phase:first-child {
    border-left: double 2px;
}


.month:first-of-type .phase {
    justify-content: left;
    text-align: left;
    padding: 10px 0px;
}
.month:first-of-type .phase h2{
      -epub-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      white-space: nowrap;
      margin-left: 2px;
      color: silver;
}


.month,.month ol{
    display: flex;
    justify-content: space-evenly;
}
.month {
    border-bottom: silver dotted 1px;
    background-color: #d9d9d9;
}
.month:nth-child(odd){
    background-color: #f9f4e7;
}
.month > h2 {width: 50px; align-self: center;}
.month ol {width: 90%;padding-left: 0px;}
.phase{
    display: flex;
    justify-content: left;
    flex: 1 1 0px;
    border-left: silver 1px dotted;
}

.phase h3, .month h2 {font-size: small;}
.phase--1{
    justify-content: right;
}
.day {width: 12%; }

a, a:active, a:hover {text-decoration: none; color: #454748; }

.detail-wrapper{
  position: relative;
}

.date-details {
  display:none;
  position: absolute;
  background-color: white;
  border: silver solid;
  padding: 10px;
  text-align: left;
  z-index: 100;
}
.phase:last-child .day:nth-last-child(-n+3) .date-details {
  right: 0px;
}

.date-details dt { 
  text-decoration: underline;

}

.date-details dd {
  margin:0px;

}
.date-details dt:after{

  content: "\003A";
}

div.day:hover .date-details{
    display: block;
    
}
div.day:hover h3{
  text-decoration: underline;  
}