---
layout: home
---

{%- assign  year = page.title | prepend: "y" -%}
{%- assign months = site.data.years[year] -%}
<ol>
    <li class="month" >
        <h2 id="month-title">Month</h2>
        <ol>
            <div class="phase phase-0"><h2>New Moon</h2></div>
            <div class="phase phase-1"><h2>Waxing Cressent</h2></div>
            <div class="phase phase-2"><h2>Full Moon</h2></div>
            <div class="phase phase-3"><h2>Waining Cressent</h2></div>
        </ol>
    </li>
{%- for month in months %}
    <li class="month" >
        <h2 id="month-{{month.Month}}">{{ month.Month }}: </h2>
        {%- assign date = 1 %}
        <ol>
            {%- assign partial-month = month.Phases | size | minus: 4 | abs -%}
            {%- if month.Month == 0 and partial-month > 0 -%}
                {%- assign start = partial-month | minus: 1 -%}
                {%- for phase in (0..start) -%}
                     <div class="phase phase-{{ phase }}"></div>
                {%- endfor -%}
            {%- endif -%}
            {%- for phase in month.Phases %}
                <div class="phase phase-{{ phase.Phase }}">
                    {%- assign gregorian-date = phase.FirstDay -%}
                    {%- for Day in (1..phase.Days) %}
                    <a href="#" class="day" title="{{ gregorian-date | date_to_long_string: 'ordinal' }}">
                        <li><h3>{{ date }}{%- assign date = date | plus: 1 -%}</h3></li>
                            {%- assign gregorian-date = gregorian-date | date: "%s" | plus: 86400 %}
                    </a>
                    {%- endfor %}
                </div>
            {%- endfor -%}
            {%- if month.Month != 0 and partial-month > 0 -%}
                {%- assign start = 4 | minus: partial-month -%}
                {%- for phase in (start..3) -%} 
                <div class="phase phase-{{ phase }}"></div>
                {% endfor -%}
            {%- endif %}
        </ol>
    </li>
{%- endfor -%}
</ol>