@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

body{
    color: #6a6661;
    text-align: center;
    font-family: xanh Mono;
}

h1{
  border:aliceblue dotted 10px;
}

ol {
    list-style: none;
}

.wrapper{
  width: 98%;
  margin: auto;
}

.decade-links, .year-links{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

}

.year-links li, .decade-links>li{
  flex: 1 1 20%;
}

.year-links {
  margin: 4px 0%
}

.month-detail  {
  margin: auto;
  display: inline-block;
}

.month-title-block{
  width: 98px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto auto;
}
.month-title-block .year-title, .month-title-block .month-title{
  width: 100px;
  margin: 0;
  text-align-last: justify;
  text-align: justify;
  text-justify: inter-character;
}

.month-title-block .month-title{
  font-size: 60px;
  margin-bottom:-2px;
}

.month-detail > ol {
  margin: 50px;
  padding: 0px;
}

.month-detail .days {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  padding-left: 0px;
  align-content: flex-start;
}
.month-detail .day-count-3 .days, .month-detail .day-count-4 .days {
  width: 200px
}
.month-detail .day-count-5 .days, .month-detail .day-count-6 .days {
  width: 300px
}
.month-detail .day-count-7 .days, .month-detail .day-count-8 .days {
  width: 400px
}
.month-detail .day-count-9 .days, .month-detail .day-count-10 .days {
  width: 500px
}
.month-detail .day-count-11 .days, .month-detail .day-count-13 .days {
  width: 600px
}
.month-detail .day:nth-of-type(even) {
  text-align: right;
  order:1
}
.month-detail .phase, 
.month-detail .phase:first-child {
  border: none;
  height: 99px;
}
.phase-title-block {
  height: 98px;
  width: 98px;
  border: solid 1px black;
  position: relative;
}
.phase-title-block .gregorian-date {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}
.phase-title-block img {
  height: 98px;
  width: 98px;
}

.month-detail .day {
  height: 50px;
  width: 100px;
  flex: none;
  text-align: left;
  position: relative;

}
.month-detail h3::before, .month-detail h3::after {
  width: 0;
  height: 0;
  border-bottom: 98px solid rgb(243, 212, 110);
  border-left: 98px solid transparent;
  content: "";
  z-index: -1;
  position: absolute;
  right: 1px;
  bottom: 1px;
  }

.month-detail h3::after {
  border-bottom: 100px solid rgb(0, 0, 0);
  border-left-width: 100px;
  z-index: -2;
  right: 0px;
  bottom: 0px;
  }

.month-detail .day:nth-of-type(odd) h3::before, .month-detail .day:nth-of-type(odd) h3::after {
  bottom:unset;
  top:1px;
  border-bottom: unset;
  border-left: unset;
}

.month-detail .day:nth-of-type(odd) h3::before {
  left:0;
  border-top: 98px solid rgb(255, 255, 255);
  border-right: 98px solid transparent;
}
.month-detail .day:nth-of-type(odd) h3::after {
  border-top: 100px solid rgb(0, 0, 0);
  border-right: 100px solid transparent;
  top:0px;
}
.month-detail .day:nth-of-type(even) h3 {
  position: absolute;
  bottom: 0px;
  right: 0;
  flex-direction: row-reverse; 
}

.month-detail .day h3{
  padding: 5px;
  margin: 0px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

@media (min-width: 500px) and (max-width: 999px){
  .year-links li, .decade-links>li{
    flex: 1 1 10%;
  }
}

@media (min-width: 1000px){
  .year-links li, .decade-links>li{
    flex: 1 1 5%;
  }
  .year-links {
    margin: 8px .6%
  }
  .year-links li{
    flex: none;
  }
}

.calendar, .decade-links, .year-links, .month ol {
  padding-left: 0px;
}

.decade-links a:hover, .year-links a:hover{
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}

.month,.month ol{
    display: flex;
    justify-content: space-evenly;
}

.month {
    border-bottom: silver dotted 1px;
    background-color: #d9d9d9;
}

.month:nth-child(odd){
    background-color: #f9f4e7;
}

.phase{
    display: flex;
}

.phase h3, .month h2 {
  font-size: small;
}

a, a:active, a:hover {
  text-decoration: none; 
  color: #454748;
  font-weight: bold;
}

/* Tooltip / Dropdown */
.detail-wrapper{
  position: relative;
}

.date-details {
  display:none;
  position: absolute;
  background-color: white;
  border: silver solid;
  padding: 10px;
  text-align: left;
  z-index: 100;
  font-size: 12px;
}

.date-details dt { 
  text-decoration: underline;
}

.date-details dd {
  margin:0px;
}
.date-details dt:after{
  content: "\003A";
}

.day:hover .date-details{
    display: block;   
}

.day:hover h3{
  text-decoration: underline;  
}

.month:first-of-type .phase h2{
  -epub-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  white-space: nowrap;
  margin-left: 2px;
  color: #979595;
}

@media (max-width: 999px){
/* portrait orientation */

    .calendar > :first-child {
      border-right: double 2px;
    }
    
    .month, .month ol, .phase {
      flex-direction: column;
    }
    .month-detail .phase {
      flex-direction: row;
    }

    .month{
      justify-content: flex-start;
    }
    .month:not(:first-child){
      flex: 1;
    }
    .phase{
      height: 230px;
      border-bottom: silver 1px dotted;
    }
    .month:first-of-type .phase h2{
      margin: 15px 0 0 15px;
    }
    .month:first-of-type > h2{
      margin: auto 5px;
    }

    .phase:first-child {
      border-top: double 2px;
    }

    .phase h3{
      margin: 6px;
    }

    .calendar{
      display: flex;
    }

    .month:last-child .date-details {
      right: 0px;
    }
}

@media (min-width: 1000px){
  .wrapper{
    width: 90%;
  }

  .calendar > :first-child {
    border-bottom: double 2px;
  }

  .phase:first-child {
      border-left: double 2px;
  }

  .month:first-of-type .phase {
      justify-content: left;
      text-align: left;
      padding: 10px 0px;
  }

  .month ol{
    width: 90%;
  }

  .month > a, .month > h2{
    width: 50px; 
    align-self: center;
  }
  
  .day {
    width: 12%; 
  }
 
  .phase{
    justify-content: left;
    flex: 1 1 0px;
    border-left: silver 1px dotted;
  }

  .phase--1{
    justify-content: right;
  }

  .phase:last-child .day:nth-last-child(-n+3) .date-details {
    right: 0px;
  }

}